.sidebar {
  position: fixed;
  background-color: white;
  left: 0;
  top: 70px;
  bottom: 0;
  width: 90px;
  z-index: 200;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link {
  height: 100px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar-link img {
  height: 35px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  text-align: center;
  font-size: 14px;
}
